In [1]:
import requests, json
from pprint import pprint

In [2]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 10449706}

In [3]:
# get player data from 'elements' field
players = r['elements']

# show data for first player
pprint(players[1])

{'assists': 3,
 'bonus': 2,
 'bps': 137,
 'chance_of_playing_next_round': None,
 'chance_of_playing_this_round': None,
 'clean_sheets': 3,
 'code': 84450,
 'corners_and_indirect_freekicks_order': None,
 'corners_and_indirect_freekicks_text': '',
 'cost_change_event': 0,
 'cost_change_event_fall': 0,
 'cost_change_start': 0,
 'cost_change_start_fall': 0,
 'creativity': '175.6',
 'creativity_rank': 16,
 'creativity_rank_type': 13,
 'direct_freekicks_order': 3,
 'direct_freekicks_text': '',
 'dreamteam_count': 1,
 'element_type': 3,
 'ep_next': '3.4',
 'ep_this': '3.9',
 'event_points': 5,
 'first_name': 'Granit',
 'form': '3.4',
 'goals_conceded': 7,
 'goals_scored': 1,
 'ict_index': '43.9',
 'ict_index_rank': 33,
 'ict_index_rank_type': 25,
 'id': 3,
 'in_dreamteam': False,
 'influence': '158.2',
 'influence_rank': 36,
 'influence_rank_type': 16,
 'minutes': 627,
 'news': '',
 'news_added': None,
 'now_cost': 50,
 'own_goals': 0,
 'penalties_missed': 0,
 'penalties_order': None,
 'penalties_saved': 0,
 'penalties_text': '',
 'photo': '84450.jpg',
 'points_per_game': '4.4',
 'red_cards': 0,
 'saves': 0,
 'second_name': 'Xhaka',
 'selected_by_percent': '2.9',
 'special': False,
 'squad_number': None,
 'status': 'a',
 'team': 1,
 'team_code': 3,
 'threat': '105.0',
 'threat_rank': 68,
 'threat_rank_type': 44,
 'total_points': 31,
 'transfers_in': 364622,
 'transfers_in_event': 5610,
 'transfers_out': 205991,
 'transfers_out_event': 4927,
 'value_form': '0.7',
 'value_season': '6.2',
 'web_name': 'Xhaka',
 'yellow_cards': 2}

In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)
# pd.set_option('mode.chained_assignment','raise')

In [5]:
# create players dataframe
players = pd.json_normalize(r['elements'])

# show some information about first five players
players[['id', 'web_name', 'team', 'element_type']].head(10)

players_data = players[['id', 'web_name', 'team']]

#Calculate Overall Points.

#  'goals_scored': 1, 
#  'assists'
#  'bonus'
#  'clean_sheets'
#  'saves': 0,
#  'penalties_saved': 0,

#  'dreamteam_count': 1,
#  'form': '3.0',
#  'ict_index': '37.5',

#  'own_goals': 0,
#  'goals_conceded': 7,
#  'penalties_missed': 0,
#  'red_cards': 0,
#  'yellow_cards': 1

#  'points_per_game': '4.3',
#  'total_points': 26,

#  'Home/Away Game'
#  'Next game difficulty'
#  'Next 6GW difficulty'


# print(players)

In [6]:
# create teams dataframe
teams = pd.json_normalize(r['teams'])
teams_data = teams[['id','name','short_name']]
teams_data

    id            name short_name
0    1         Arsenal        ARS
1    2     Aston Villa        AVL
2    3     Bournemouth        BOU
3    4       Brentford        BRE
4    5        Brighton        BHA
5    6         Chelsea        CHE
6    7  Crystal Palace        CRY
7    8         Everton        EVE
8    9          Fulham        FUL
9   10       Leicester        LEI
10  11           Leeds        LEE
11  12       Liverpool        LIV
12  13        Man City        MCI
13  14         Man Utd        MUN
14  15       Newcastle        NEW
15  16   Nott'm Forest        NFO
16  17     Southampton        SOU
17  18           Spurs        TOT
18  19        West Ham        WHU
19  20          Wolves        WOL

In [7]:
# get position information from 'element_types' field
positions = pd.json_normalize(r['element_types'])
positions_data = positions[['id','singular_name','singular_name_short']]
positions_data

   id singular_name singular_name_short
0   1    Goalkeeper                 GKP
1   2      Defender                 DEF
2   3    Midfielder                 MID
3   4       Forward                 FWD

In [46]:
# join players to teams
df = pd.merge(
    left=players_data,
    right=teams_data,
    left_on='team',
    right_on='id'
)
df
# show joined result
# df[['first_name', 'second_name', 'name']].head()

,id_x,element_type_x,goals_scored_x,assists_x,bonus_x,clean_sheets_x,saves_x,penalties_saved_x,dreamteam_count_x,form_x,ict_index_x,own_goals_x,goals_conceded_x,penalties_missed_x,red_cards_x,yellow_cards_x,points_per_game_x,minutes_x,now_cost_x,total_points_x,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count_y,element_type_y,ep_next,ep_this,event_points,first_name,form_y,in_dreamteam,news,news_added,now_cost_y,photo,points_per_game_y,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points_y,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes_y,goals_scored_y,assists_y,clean_sheets_y,goals_conceded_y,own_goals_y,penalties_saved_y,penalties_missed_y,yellow_cards_y,red_cards_y,saves_y,bonus_y,bps,influence,creativity,threat,ict_index_y,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,id_y,name,short_name
0,1,2,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0,42,0,50.0,50.0,58822,0,0,-3,3,0,2,0.0,0.2,0,Cédric,0.0,False,Knock - 50% chance of playing,2022-09-16T13:30:06.551108Z,42,58822.jpg,0.0,Alves Soares,0.2,False,None,d,1,3,0,4467,25,21276,480,0.0,0.0,Cédric,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,465,185,446,178,396,155,470,185,NaN,,NaN,,NaN,,1,Arsenal,ARS
1,3,3,1,3,2,3,0,0,1,3.4,43.9,0,7,0,0,2,4.4,627,50,31,NaN,NaN,84450,0,0,0,0,1,3,3.4,3.9,5,Granit,3.4,False,,None,50,84450.jpg,4.4,Xhaka,2.9,False,None,a,1,3,31,364622,5610,205991,4927,0.7,6.2,Xhaka,627,1,3,3,7,0,0,0,2,0,0,2,137,158.2,175.6,105.0,43.9,36,16,16,13,68,44,33,25,NaN,,3.0,,NaN,,1,Arsenal,ARS
2,4,3,0,0,0,0,0,0,1,0.4,0.8,0,1,0,0,0,2.0,90,43,2,0.0,0.0,153256,0,0,-2,2,1,3,0.0,0.0,0,Mohamed,0.4,False,Hamstring injury - Unknown return date,2022-08-30T11:30:06.278675Z,43,153256.jpg,2.0,Elneny,0.8,False,None,i,1,3,2,107492,781,159249,1952,0.1,0.5,Elneny,90,0,0,0,1,0,0,0,0,0,0,0,15,4.2,3.8,0.0,0.8,364,163,305,153,410,161,368,165,NaN,,NaN,,NaN,,1,Arsenal,ARS
3,5,2,0,0,0,0,0,0,0,0.4,0.2,0,0,0,0,0,1.0,3,43,2,NaN,NaN,156074,0,0,-2,2,0,2,0.4,0.9,0,Rob,0.4,False,,None,43,156074.jpg,1.0,Holding,0.1,False,None,a,1,3,2,3301,85,12003,123,0.1,0.5,Holding,3,0,0,0,0,0,0,0,0,0,0,0,8,2.2,0.0,0.0,0.2,378,142,459,188,413,167,386,142,NaN,,NaN,,NaN,,1,Arsenal,ARS
4,6,3,0,0,0,3,0,0,0,1.2,12.9,0,2,0,0,0,2.8,347,48,11,75.0,75.0,167199,0,0,-2,2,0,3,0.9,1.3,3,Thomas,1.2,False,Lack of match fitness - 75% chance of playing,2022-08-27T20:00:06.313026Z,48,167199.jpg,2.8,Partey,0.3,False,None,d,1,3,11,25666,127,66299,353,0.3,2.3,Partey,347,0,0,3,2,0,0,0,0,0,0,0,52,51.4,28.4,49.0,12.9,230,95,204,120,153,88,221,107,NaN,,NaN,,NaN,,1,Arsenal,ARS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,579,3,0,1,1,2,0,0,0,2.8,21.5,0,4,0,0,1,2.5,382,60,15,NaN,NaN,181284,0,0,0,0,0,3,2.8,1.8,2,Gonçalo Manuel,2.8,False,,None,60,181284.jpg,2.5,Ganchinho Guedes,0.4,False,None,a,20,39,15,92854,893,63220,1586,0.5,2.5,Guedes,382,0,1,2,4,0,0,0,1,0,0,1,38,32.4,77.4,106.0,21.5,266,114,90,64,67,43,125,72,NaN,,NaN,,NaN,,20,Wolves,WOL
627,589,3,0,1,3,2,0,0,0,3.4,19.0,0,5,0,0,1,3.4,434,50,17,NaN,NaN,465351,0,0,0,0,0,3,3.4,2.4,1,Matheus Luiz,3.4,False,,None,50,465351.jpg,3.4,Nunes,0.3,False,None,a,20,39,17,38474,592,14901,793,0.7,3.4,Matheus,434,0,1,2,5,0,0,0,1,0,0,3,59,61.4,65.7,63.0,19.0,211,88,108,74,124,72,151,83,3.0,,NaN,,NaN,,20,Wolves,WOL
628,608,4,0,0,0,0,0,0,0,0.5,0.7,0,0,0,0,0,1.0,45,55,1,0.0,0.0,429414,0,0,0,0,0,4,0.0,0.0,0,Sasa,0.5,False,Knee injury - Expected back 01 Jun,2022-09-03T18:00:06.993294Z,55,429414.jpg,1.0,Kalajdzic,0.0,False,None,i,20,39,1,5748,18,4013,204,0.1,0.2,Kalajdžić,45,0,0,0,0,0,0,0,0,0,0,0,-1,0.0,0.0,9.0,0.7,623,65,624,66,271,45,372,48,NaN,,NaN,,NaN,,20,Wolves,WOL
629,625,4,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0,55,0,75.0,75.0,18507,0,0,0,0,0,4,1.2,0.5,0,Diego,0.0,False,Lack of match fitness - 75% chance of playing,2022-09-16T16:00:06.568152Z,55,18507.jpg,0.0,Da Silva Costa,0.3,False,None,d,20,39,0,30259,3520,4645,1661,0.0,0.0,Diego Costa,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,618,62,618,64,616,64,621,65,NaN,,NaN,,NaN,,20,Wolves,WOL
630,629,3,0,0,0,0,0,0,0,1.0,1.1,0,0,0,0,0,1.0,20,45,1,NaN,NaN,476502,0,0,0,0,0,3,1.2,0.2,1,Boubacar,1.0,False,,None,45,476502.jpg,1.0,Traoré,0.0,False,None,a,20,39,1,280,280,30,30,0.2,0.2,Traoré,20,0,0,0,0,0,0,0,0,0,0,0,4,10.8,0.2,0.0,1.1,333,147,367,178,532,214,359,161,NaN,,NaN,,NaN,,20,Wolves,WOL

In [9]:
# join player positions
# df = df.merge(
#     positions,
#     left_on='element_type',
#     right_on='id'
# )

# # rename columns
# df = df.rename(
#     columns={'name':'team_name', 'singular_name':'position_name'}
# )

# # show result
# df[
#     ['first_name', 'second_name', 'team_name', 'position_name']
# ].head()

In [10]:
fixtures = requests.get(base_url+'fixtures/').json()
pprint(fixtures, indent=2, depth=1, compact=True)

[ {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...}, {...},
  {...}, {...}, {...}, {...}, {...}, {...}]

In [11]:
fixtures[0]

{'code': 2292871,
 'event': None,
 'finished': False,
 'finished_provisional': False,
 'id': 61,
 'kickoff_time': None,
 'minutes': 0,
 'provisional_start_time': False,
 'started': None,
 'team_a': 8,
 'team_a_score': None,
 'team_h': 1,
 'team_h_score': None,
 'stats': [],
 'team_h_difficulty': 2,
 'team_a_difficulty': 4,
 'pulse_id': 74971}

In [12]:
# df = pd.DataFrame()
# for i in range(380):
matches = pd.DataFrame.from_dict(fixtures)
matches.sort_values(by=['id'], inplace=True)
matches.reset_index(drop=True, inplace=True)
matches.head(62)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1.0,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,74911
1,2292811,1.0,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
2,2292812,1.0,True,True,3,2022-08-06T16:30:00Z,90,False,True,6,1.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74913
3,2292813,1.0,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,74914
4,2292814,1.0,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2292867,6.0,True,True,58,2022-09-03T14:00:00Z,90,False,True,3,3.0,16,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74968
58,2292868,6.0,True,True,59,2022-09-03T14:00:00Z,90,False,True,9,1.0,18,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74969
59,2292869,6.0,True,True,60,2022-09-03T14:00:00Z,90,False,True,17,0.0,20,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74970
60,2292871,NaN,False,False,61,None,0,False,None,8,NaN,1,NaN,[],2,4,74971
61,2292870,NaN,False,False,62,None,0,False,None,5,NaN,3,NaN,[],3,2,74972

In [13]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   366 non-null    float64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   id                      380 non-null    int64
 5   kickoff_time            366 non-null    object
 6   minutes                 380 non-null    int64
 7   provisional_start_time  380 non-null    bool
 8   started                 366 non-null    object
 9   team_a                  380 non-null    int64
 10  team_a_score            67 non-null     float64
 11  team_h                  380 non-null    int64
 12  team_h_score            67 non-null     float64
 13  stats                   380 non-null    object
 14  team_h_difficulty       380 non-null    int64
 15  team_a_difficulty       380 non-null    int64
 16  pulse_id                380 non-null    int64
dtypes: bool(3), float64(3), int64(8), object(3)
memory usage: 42.8+ KB

In [14]:
matches_played =matches[matches['finished']==True]
# print(matches_played.columns)
# matches_played.sort_values(by=['id'], ascending=True)
# matches_played.drop('stats', axis=1)
print("Number of Matches Played: ",len(matches_played))
print(matches_played)

match_list = matches_played["id"].tolist()
print(match_list)

# index_list = []
# for i in range(len(matches_played)):
index_list = matches_played.index.values.tolist()
# #     
print(index_list)

Number of Matches Played:  67
       code  event  finished  finished_provisional  id          kickoff_time  \
0   2292810    1.0      True                  True   1  2022-08-05T19:00:00Z
1   2292811    1.0      True                  True   2  2022-08-06T14:00:00Z
2   2292812    1.0      True                  True   3  2022-08-06T16:30:00Z
3   2292813    1.0      True                  True   4  2022-08-06T11:30:00Z
4   2292814    1.0      True                  True   5  2022-08-06T14:00:00Z
..      ...    ...       ...                   ...  ..                   ...
74  2292884    8.0      True                  True  75  2022-09-18T13:15:00Z
76  2292886    8.0      True                  True  77  2022-09-17T14:00:00Z
77  2292887    8.0      True                  True  78  2022-09-16T19:00:00Z
78  2292888    8.0      True                  True  79  2022-09-17T16:30:00Z
79  2292889    8.0      True                  True  80  2022-09-17T11:30:00Z

    minutes  provisional_start_time started  team_a  team_a_score  team_h  \
0        90                   False    True       1           2.0       7
1        90                   False    True       2           0.0       3
2        90                   False    True       6           1.0       8
3        90                   False    True      12           2.0       9
4        90                   False    True      20           1.0      11
..      ...                     ...     ...     ...           ...     ...
74       90                   False    True      19           0.0       8
76       90                   False    True       3           1.0      15
77       90                   False    True       9           3.0      16
78       90                   False    True      10           2.0      18
79       90                   False    True      13           3.0      20

    team_h_score                                              stats  \
0            0.0  [{'identifier': 'goals_scored', 'a': [{'value'...
1            2.0  [{'identifier': 'goals_scored', 'a': [], 'h': ...
2            0.0  [{'identifier': 'goals_scored', 'a': [{'value'...
3            2.0  [{'identifier': 'goals_scored', 'a': [{'value'...
4            2.0  [{'identifier': 'goals_scored', 'a': [{'value'...
..           ...                                                ...
74           1.0  [{'identifier': 'goals_scored', 'a': [], 'h': ...
76           1.0  [{'identifier': 'goals_scored', 'a': [{'value'...
77           2.0  [{'identifier': 'goals_scored', 'a': [{'value'...
78           6.0  [{'identifier': 'goals_scored', 'a': [{'value'...
79           0.0  [{'identifier': 'goals_scored', 'a': [{'value'...

    team_h_difficulty  team_a_difficulty  pulse_id
0                   3                  3     74911
1                   2                  2     74912
2                   3                  2     74913
3                   4                  2     74914
4                   2                  2     74915
..                ...                ...       ...
74                  2                  2     74985
76                  2                  3     74987
77                  2                  2     74988
78                  2                  4     74989
79                  5                  2     74990

[67 rows x 17 columns]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 71, 72, 75, 77, 78, 79, 80]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 70, 71, 74, 76, 77, 78, 79]

In [15]:
stats = matches_played['stats']
print(stats.head())

0    [{'identifier': 'goals_scored', 'a': [{'value'...
1    [{'identifier': 'goals_scored', 'a': [], 'h': ...
2    [{'identifier': 'goals_scored', 'a': [{'value'...
3    [{'identifier': 'goals_scored', 'a': [{'value'...
4    [{'identifier': 'goals_scored', 'a': [{'value'...
Name: stats, dtype: object

In [16]:
pd.json_normalize(stats[0][0]['a']) # Each bracket represent as: [Match Id][stats(Score/assists etc..)][away/home][values]
# print("Number of records: ",len(x))

   value  element
0      1       19

In [17]:
goals = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
print(goals)

Empty DataFrame
Columns: [Match id, Away/Home, Goals, Player ID]
Index: []

In [18]:
goals = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
for i in range(len(stats)):
    away_goal = pd.json_normalize(stats[index_list[i]][0]['a'])
    home_goal = pd.json_normalize(stats[index_list[i]][0]['h'])
    for ag in range(len(away_goal)):
        goals = goals.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Goals': away_goal['value'][ag] ,'Player ID': away_goal['element'][ag] },\
                             ignore_index = True)
    for hg in range(len(home_goal)):
        goals = goals.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Goals': home_goal['value'][hg] ,'Player ID': home_goal['element'][hg] },\
                             ignore_index = True)

In [19]:
print(goals)

    Match id Away/Home Goals Player ID
0          1      Away     1        19
1          2      Home     1        62
2          2      Home     1        64
3          3      Away     1       130
4          4      Away     1       283
..       ...       ...   ...       ...
158       79      Home     1       430
159       79      Home     1       440
160       80      Away     1       305
161       80      Away     1       314
162       80      Away     1       318

[163 rows x 4 columns]

In [20]:
assists = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
for i in range(len(stats)):
    away_assist = pd.json_normalize(stats[index_list[i]][1]['a'])
    home_assist = pd.json_normalize(stats[index_list[i]][1]['h'])
    for aa in range(len(away_assist)):
        assists = assists.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Goals': away_assist['value'][aa] ,'Player ID': away_assist['element'][aa] },\
                             ignore_index = True)
    for ha in range(len(home_assist)):
        assists = assists.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Goals': home_assist['value'][ha] ,'Player ID': home_assist['element'][ha] },\
                             ignore_index = True)

In [21]:
print(assists)

    Match id Away/Home Goals Player ID
0          1      Away     1        13
1          1      Away     1       313
2          2      Home     1        73
3          3      Away     1       139
4          4      Away     1       283
..       ...       ...   ...       ...
153       79      Home     1       440
154       79      Home     1       446
155       79      Home     1       448
156       80      Away     2       301
157       80      Away     1       311

[158 rows x 4 columns]

In [22]:
own_goals = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
for i in range(len(stats)):
    away_og = pd.json_normalize(stats[index_list[i]][2]['a'])
    home_og = pd.json_normalize(stats[index_list[i]][2]['h'])
    for aog in range(len(away_og)):
        own_goals = own_goals.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Goals': away_og['value'][aog] ,'Player ID': away_og['element'][aog] },\
                             ignore_index = True)
    for hog in range(len(home_og)):
        own_goals = own_goals.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Goals': home_og['value'][hog] ,'Player ID': home_og['element'][hog] },\
                             ignore_index = True)

In [23]:
print(own_goals)

   Match id Away/Home Goals Player ID
0         1      Home     1       167
1         5      Away     1       487
2         8      Away     1       420
3         9      Away     1       116
4        11      Home     1        26
5        12      Home     1        33
6        17      Away     1        64
7        36      Away     1        71
8        37      Home     1       302
9        44      Away     1       106
10       47      Home     1       588
11       53      Away     1       270

In [24]:
penalties_saved = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
for i in range(len(stats)):
    away_ps = pd.json_normalize(stats[index_list[i]][3]['a'])
    home_ps = pd.json_normalize(stats[index_list[i]][3]['h'])
    for aps in range(len(away_ps)):
        penalties_saved = penalties_saved.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Goals': away_ps['value'][aps] ,'Player ID': away_ps['element'][aps] },\
                             ignore_index = True)
    for hps in range(len(home_ps)):
        penalties_saved = penalties_saved.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Goals': home_ps['value'][hps] ,'Player ID': home_ps['element'][hps] },\
                             ignore_index = True)

In [25]:
print(penalties_saved)

  Match id Away/Home Goals Player ID
0       18      Home     1       398
1       20      Home     1       478
2       22      Away     1        31
3       38      Home     1       398

In [26]:
penalties_missed = pd.DataFrame(columns = ['Match id', 'Away/Home', 'Goals', 'Player ID'])
for i in range(len(stats)):
    away_pm = pd.json_normalize(stats[index_list[i]][4]['a'])
    home_pm = pd.json_normalize(stats[index_list[i]][4]['h'])
    for apm in range(len(away_pm)):
        penalties_missed = penalties_missed.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Goals': away_pm['value'][apm] ,'Player ID': away_pm['element'][apm] },\
                             ignore_index = True)
    for hpm in range(len(home_pm)):
        penalties_missed = penalties_missed.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Goals': home_pm['value'][hpm] ,'Player ID': home_pm['element'][hpm] },\
                             ignore_index = True)

In [27]:
print(penalties_missed)

  Match id Away/Home Goals Player ID
0       18      Away     1       467
1       20      Away     1       210
2       22      Home     1       160
3       38      Away     1       427

In [28]:
yellow_cards= pd.DataFrame(columns = ['Match id', 'Away/Home', 'Yellow_Cards', 'Player ID'])
for i in range(len(stats)):
    away_yc = pd.json_normalize(stats[index_list[i]][5]['a'])
    home_yc = pd.json_normalize(stats[index_list[i]][5]['h'])
    for ayc in range(len(away_yc)):
        yellow_cards = yellow_cards.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Yellow_Cards': away_yc['value'][ayc] ,'Player ID': away_yc['element'][ayc] },\
                             ignore_index = True)
    for hyc in range(len(home_yc)):
        yellow_cards = yellow_cards.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Yellow_Cards': home_yc['value'][hyc] ,'Player ID': home_yc['element'][hyc] },\
                             ignore_index = True)

In [29]:
print(yellow_cards)

    Match id Away/Home Yellow_Cards Player ID
0          1      Away            1         3
1          1      Away            1        10
2          1      Home            1       157
3          2      Away            1        30
4          2      Away            1        46
..       ...       ...          ...       ...
248       79      Away            1       271
249       79      Home            1       448
250       80      Away            1       315
251       80      Home            1       480
252       80      Home            1       589

[253 rows x 4 columns]

In [30]:
red_cards= pd.DataFrame(columns = ['Match id', 'Away/Home', 'Red_Cards', 'Player ID'])
for i in range(len(stats)):
    away_rc = pd.json_normalize(stats[index_list[i]][6]['a'])
    home_rc = pd.json_normalize(stats[index_list[i]][6]['h'])
    for arc in range(len(away_rc)):
        red_cards = red_cards.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Red_Cards': away_rc['value'][arc] ,'Player ID': away_rc['element'][arc] },\
                             ignore_index = True)
    for hrc in range(len(home_rc)):
        red_cards = red_cards.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Red_Cards': home_rc['value'][hrc] ,'Player ID': home_rc['element'][hrc] },\
                             ignore_index = True)

In [31]:
print(red_cards)

  Match id Away/Home Red_Cards Player ID
0       16      Home         1       297
1       25      Away         1       520
2       35      Home         1       148
3       80      Home         1       516

In [32]:
saves= pd.DataFrame(columns = ['Match id', 'Away/Home', 'Saves', 'Player ID'])
for i in range(len(stats)):
    away_save = pd.json_normalize(stats[index_list[i]][7]['a'])
    home_save = pd.json_normalize(stats[index_list[i]][7]['h'])
    for a_save in range(len(away_save)):
        saves = saves.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Saves': away_save['value'][a_save] ,'Player ID': away_save['element'][a_save] },\
                             ignore_index = True)
    for h_save in range(len(home_save)):
        saves = saves.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Saves': home_save['value'][h_save] ,'Player ID': home_save['element'][h_save] },\
                             ignore_index = True)

In [33]:
print(saves)

    Match id Away/Home Saves Player ID
0          1      Away     2        15
1          1      Home     1       152
2          2      Away     1        31
3          2      Home     2        72
4          3      Away     3       147
..       ...       ...   ...       ...
123       78      Home     3       398
124       79      Away     5       254
125       79      Home     5       425
126       80      Away     1       307
127       80      Home     4       478

[128 rows x 4 columns]

In [34]:
bonus= pd.DataFrame(columns = ['Match id', 'Away/Home', 'Bonus', 'Player ID'])
for i in range(len(stats)):
    away_bonus = pd.json_normalize(stats[index_list[i]][8]['a'])
    home_bonus = pd.json_normalize(stats[index_list[i]][8]['h'])
    for a_bonus in range(len(away_bonus)):
        bonus = bonus.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'Bonus': away_bonus['value'][a_bonus] ,'Player ID': away_bonus['element'][a_bonus] },\
                             ignore_index = True)
    for h_bonus in range(len(home_bonus)):
        bonus = bonus.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'Bonus': home_bonus['value'][h_bonus] ,'Player ID': home_bonus['element'][h_bonus] },\
                             ignore_index = True)

In [35]:
print(bonus)

    Match id Away/Home Bonus Player ID
0          1      Away     3       313
1          1      Away     2        26
2          1      Away     1        16
3          2      Home     3        73
4          2      Home     2        64
..       ...       ...   ...       ...
215       79      Home     2       440
216       79      Home     1       427
217       80      Away     3       306
218       80      Away     2       305
219       80      Away     1       301

[220 rows x 4 columns]

In [36]:
bps= pd.DataFrame(columns = ['Match id', 'Away/Home', 'BPS', 'Player ID'])
for i in range(len(stats)):
    away_bps = pd.json_normalize(stats[index_list[i]][9]['a'])
    home_bps = pd.json_normalize(stats[index_list[i]][9]['h'])
    for a_bps in range(len(away_bps)):
        bps = bps.append({'Match id': match_list[i] ,'Away/Home': 'Away' ,'BPS': away_bps['value'][a_bps] ,'Player ID': away_bps['element'][a_bps] },\
                             ignore_index = True)
    for h_bps in range(len(home_bps)):
        bps = bps.append({'Match id': match_list[i] ,'Away/Home': 'Home' ,'BPS': home_bps['value'][h_bps] ,'Player ID': home_bps['element'][h_bps] },\
                             ignore_index = True)

In [37]:
print(bps)

     Match id Away/Home BPS Player ID
0           1      Away  38       313
1           1      Away  30        26
2           1      Away  26        16
3           1      Away  25        10
4           1      Away  25        15
...       ...       ...  ..       ...
1936       80      Home   4       629
1937       80      Home   3       481
1938       80      Home   3       568
1939       80      Home   2       486
1940       80      Home  -4       516

[1941 rows x 4 columns]

In [38]:
x= r['elements']
print(len(x))
print(x[0])

631
{'chance_of_playing_next_round': 50, 'chance_of_playing_this_round': 50, 'code': 58822, 'cost_change_event': 0, 'cost_change_event_fall': 0, 'cost_change_start': -3, 'cost_change_start_fall': 3, 'dreamteam_count': 0, 'element_type': 2, 'ep_next': '0.0', 'ep_this': '0.2', 'event_points': 0, 'first_name': 'Cédric', 'form': '0.0', 'id': 1, 'in_dreamteam': False, 'news': 'Knock - 50% chance of playing', 'news_added': '2022-09-16T13:30:06.551108Z', 'now_cost': 42, 'photo': '58822.jpg', 'points_per_game': '0.0', 'second_name': 'Alves Soares', 'selected_by_percent': '0.2', 'special': False, 'squad_number': None, 'status': 'd', 'team': 1, 'team_code': 3, 'total_points': 0, 'transfers_in': 4467, 'transfers_in_event': 25, 'transfers_out': 21276, 'transfers_out_event': 480, 'value_form': '0.0', 'value_season': '0.0', 'web_name': 'Cédric', 'minutes': 0, 'goals_scored': 0, 'assists': 0, 'clean_sheets': 0, 'goals_conceded': 0, 'own_goals': 0, 'penalties_saved': 0, 'penalties_missed': 0, 'yellow_cards': 0, 'red_cards': 0, 'saves': 0, 'bonus': 0, 'bps': 0, 'influence': '0.0', 'creativity': '0.0', 'threat': '0.0', 'ict_index': '0.0', 'influence_rank': 465, 'influence_rank_type': 185, 'creativity_rank': 446, 'creativity_rank_type': 178, 'threat_rank': 396, 'threat_rank_type': 155, 'ict_index_rank': 470, 'ict_index_rank_type': 185, 'corners_and_indirect_freekicks_order': None, 'corners_and_indirect_freekicks_text': '', 'direct_freekicks_order': None, 'direct_freekicks_text': '', 'penalties_order': None, 'penalties_text': ''}

In [49]:
# players_data['overall_points'] = (players_data['goals_scored'] * 5) + (players_data['assists'] * 4) + \
# ((players_data['minutes']/(len(stats)/10)*2)) + (players_data['clean_sheets'] * 4) + (players_data['penalties_saved'] * 3)- \
# (players_data['own_goals']*4) - (players_data['goals_conceded']*2) - (players_data['penalties_missed']*4) - \
# (players_data['red_cards']*4) - (players_data['yellow_cards']*1)

# players.loc[0,'overall_points'] = 2 * players_data['goals_scored']

# players.loc[i, 'overall_points'] = 2 * players_data['goals_scored']

players_all = players[['id','element_type','goals_scored','assists','bonus','clean_sheets','saves','penalties_saved',\
                        'dreamteam_count','form','ict_index','own_goals','goals_conceded','penalties_missed','red_cards',\
                        'yellow_cards','points_per_game','minutes','now_cost','total_points']]

players_data = players_all.merge(
    players,
    left_on='id',
    right_on='id'
)

players_team = players_data.merge(
    teams_data,
    left_on='team',
    right_on='id'
)

print(players_data)

      id  element_type_x  goals_scored_x  assists_x  bonus_x  clean_sheets_x  \
0      1               2               0          0        0               0
1      3               3               1          3        2               3
2      4               3               0          0        0               0
3      5               2               0          0        0               0
4      6               3               0          0        0               3
..   ...             ...             ...        ...      ...             ...
626  579               3               0          1        1               2
627  589               3               0          1        3               2
628  608               4               0          0        0               0
629  625               4               0          0        0               0
630  629               3               0          0        0               0

     saves_x  penalties_saved_x  dreamteam_count_x form_x ict_index_x  \
0          0                  0                  0    0.0         0.0
1          0                  0                  1    3.4        43.9
2          0                  0                  1    0.4         0.8
3          0                  0                  0    0.4         0.2
4          0                  0                  0    1.2        12.9
..       ...                ...                ...    ...         ...
626        0                  0                  0    2.8        21.5
627        0                  0                  0    3.4        19.0
628        0                  0                  0    0.5         0.7
629        0                  0                  0    0.0         0.0
630        0                  0                  0    1.0         1.1

     own_goals_x  goals_conceded_x  penalties_missed_x  red_cards_x  \
0              0                 0                   0            0
1              0                 7                   0            0
2              0                 1                   0            0
3              0                 0                   0            0
4              0                 2                   0            0
..           ...               ...                 ...          ...
626            0                 4                   0            0
627            0                 5                   0            0
628            0                 0                   0            0
629            0                 0                   0            0
630            0                 0                   0            0

     yellow_cards_x points_per_game_x  minutes_x  now_cost_x  total_points_x  \
0                 0               0.0          0          42               0
1                 2               4.4        627          50              31
2                 0               2.0         90          43               2
3                 0               1.0          3          43               2
4                 0               2.8        347          48              11
..              ...               ...        ...         ...             ...
626               1               2.5        382          60              15
627               1               3.4        434          50              17
628               0               1.0         45          55               1
629               0               0.0          0          55               0
630               0               1.0         20          45               1

     chance_of_playing_next_round  chance_of_playing_this_round    code  \
0                            50.0                          50.0   58822
1                             NaN                           NaN   84450
2                             0.0                           0.0  153256
3                             NaN                           NaN  156074
4                            75.0                          75.0  167199
..                            ...                           ...     ...
626                           NaN                           NaN  181284
627                           NaN                           NaN  465351
628                           0.0                           0.0  429414
629                          75.0                          75.0   18507
630                           NaN                           NaN  476502

     cost_change_event  cost_change_event_fall  cost_change_start  \
0                    0                       0                 -3
1                    0                       0                  0
2                    0                       0                 -2
3                    0                       0                 -2
4                    0                       0                 -2
..                 ...                     ...                ...
626                  0                       0                  0
627                  0                       0                  0
628                  0                       0                  0
629                  0                       0                  0
630                  0                       0                  0

     cost_change_start_fall  dreamteam_count_y  element_type_y ep_next  \
0                         3                  0               2     0.0
1                         0                  1               3     3.4
2                         2                  1               3     0.0
3                         2                  0               2     0.4
4                         2                  0               3     0.9
..                      ...                ...             ...     ...
626                       0                  0               3     2.8
627                       0                  0               3     3.4
628                       0                  0               4     0.0
629                       0                  0               4     1.2
630                       0                  0               3     1.2

    ep_this  event_points      first_name form_y  in_dreamteam  \
0       0.2             0          Cédric    0.0         False
1       3.9             5          Granit    3.4         False
2       0.0             0         Mohamed    0.4         False
3       0.9             0             Rob    0.4         False
4       1.3             3          Thomas    1.2         False
..      ...           ...             ...    ...           ...
626     1.8             2  Gonçalo Manuel    2.8         False
627     2.4             1    Matheus Luiz    3.4         False
628     0.0             0            Sasa    0.5         False
629     0.5             0           Diego    0.0         False
630     0.2             1        Boubacar    1.0         False

                                              news  \
0                    Knock - 50% chance of playing
1
2           Hamstring injury - Unknown return date
3
4    Lack of match fitness - 75% chance of playing
..                                             ...
626
627
628             Knee injury - Expected back 01 Jun
629  Lack of match fitness - 75% chance of playing
630

                      news_added  now_cost_y       photo points_per_game_y  \
0    2022-09-16T13:30:06.551108Z          42   58822.jpg               0.0
1                           None          50   84450.jpg               4.4
2    2022-08-30T11:30:06.278675Z          43  153256.jpg               2.0
3                           None          43  156074.jpg               1.0
4    2022-08-27T20:00:06.313026Z          48  167199.jpg               2.8
..                           ...         ...         ...               ...
626                         None          60  181284.jpg               2.5
627                         None          50  465351.jpg               3.4
628  2022-09-03T18:00:06.993294Z          55  429414.jpg               1.0
629  2022-09-16T16:00:06.568152Z          55   18507.jpg               0.0
630                         None          45  476502.jpg               1.0

          second_name selected_by_percent  special squad_number status  team  \
0        Alves Soares                 0.2    False         None      d     1
1               Xhaka                 2.9    False         None      a     1
2              Elneny                 0.8    False         None      i     1
3             Holding                 0.1    False         None      a     1
4              Partey                 0.3    False         None      d     1
..                ...                 ...      ...          ...    ...   ...
626  Ganchinho Guedes                 0.4    False         None      a    20
627             Nunes                 0.3    False         None      a    20
628         Kalajdzic                 0.0    False         None      i    20
629    Da Silva Costa                 0.3    False         None      d    20
630            Traoré                 0.0    False         None      a    20

     team_code  total_points_y  transfers_in  transfers_in_event  \
0            3               0          4467                  25
1            3              31        364622                5610
2            3               2        107492                 781
3            3               2          3301                  85
4            3              11         25666                 127
..         ...             ...           ...                 ...
626         39              15         92854                 893
627         39              17         38474                 592
628         39               1          5748                  18
629         39               0         30259                3520
630         39               1           280                 280

     transfers_out  transfers_out_event value_form value_season     web_name  \
0            21276                  480        0.0          0.0       Cédric
1           205991                 4927        0.7          6.2        Xhaka
2           159249                 1952        0.1          0.5       Elneny
3            12003                  123        0.1          0.5      Holding
4            66299                  353        0.3          2.3       Partey
..             ...                  ...        ...          ...          ...
626          63220                 1586        0.5          2.5       Guedes
627          14901                  793        0.7          3.4      Matheus
628           4013                  204        0.1          0.2    Kalajdžić
629           4645                 1661        0.0          0.0  Diego Costa
630             30                   30        0.2          0.2       Traoré

     minutes_y  goals_scored_y  assists_y  clean_sheets_y  goals_conceded_y  \
0            0               0          0               0                 0
1          627               1          3               3                 7
2           90               0          0               0                 1
3            3               0          0               0                 0
4          347               0          0               3                 2
..         ...             ...        ...             ...               ...
626        382               0          1               2                 4
627        434               0          1               2                 5
628         45               0          0               0                 0
629          0               0          0               0                 0
630         20               0          0               0                 0

     own_goals_y  penalties_saved_y  penalties_missed_y  yellow_cards_y  \
0              0                  0                   0               0
1              0                  0                   0               2
2              0                  0                   0               0
3              0                  0                   0               0
4              0                  0                   0               0
..           ...                ...                 ...             ...
626            0                  0                   0               1
627            0                  0                   0               1
628            0                  0                   0               0
629            0                  0                   0               0
630            0                  0                   0               0

     red_cards_y  saves_y  bonus_y  bps influence creativity threat  \
0              0        0        0    0       0.0        0.0    0.0
1              0        0        2  137     158.2      175.6  105.0
2              0        0        0   15       4.2        3.8    0.0
3              0        0        0    8       2.2        0.0    0.0
4              0        0        0   52      51.4       28.4   49.0
..           ...      ...      ...  ...       ...        ...    ...
626            0        0        1   38      32.4       77.4  106.0
627            0        0        3   59      61.4       65.7   63.0
628            0        0        0   -1       0.0        0.0    9.0
629            0        0        0    0       0.0        0.0    0.0
630            0        0        0    4      10.8        0.2    0.0

    ict_index_y  influence_rank  influence_rank_type  creativity_rank  \
0           0.0             465                  185              446
1          43.9              36                   16               16
2           0.8             364                  163              305
3           0.2             378                  142              459
4          12.9             230                   95              204
..          ...             ...                  ...              ...
626        21.5             266                  114               90
627        19.0             211                   88              108
628         0.7             623                   65              624
629         0.0             618                   62              618
630         1.1             333                  147              367

     creativity_rank_type  threat_rank  threat_rank_type  ict_index_rank  \
0                     178          396               155             470
1                      13           68                44              33
2                     153          410               161             368
3                     188          413               167             386
4                     120          153                88             221
..                    ...          ...               ...             ...
626                    64           67                43             125
627                    74          124                72             151
628                    66          271                45             372
629                    64          616                64             621
630                   178          532               214             359

     ict_index_rank_type  corners_and_indirect_freekicks_order  \
0                    185                                   NaN
1                     25                                   NaN
2                    165                                   NaN
3                    142                                   NaN
4                    107                                   NaN
..                   ...                                   ...
626                   72                                   NaN
627                   83                                   3.0
628                   48                                   NaN
629                   65                                   NaN
630                  161                                   NaN

    corners_and_indirect_freekicks_text  direct_freekicks_order  \
0                                                           NaN
1                                                           3.0
2                                                           NaN
3                                                           NaN
4                                                           NaN
..                                  ...                     ...
626                                                         NaN
627                                                         NaN
628                                                         NaN
629                                                         NaN
630                                                         NaN

    direct_freekicks_text  penalties_order penalties_text
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                    ...              ...            ...
626                                    NaN
627                                    NaN
628                                    NaN
629                                    NaN
630                                    NaN

[631 rows x 86 columns]

In [50]:
players_team['overall_points'] = (players_team['goals_scored_y']*5) + (players_team['assists_y']*4) + \
((players_team['minutes_y']/(len(stats)/10)*2)) + (players_team['clean_sheets_y']*4) + (players_team['penalties_saved_y']*3)- \
(players_team['own_goals_y']*4) - (players_team['goals_conceded_y']*2) - (players_team['penalties_missed_y']*4) - \
(players_team['red_cards_y']*4) - (players_team['yellow_cards_y']*1)

In [51]:
#selecting GoalKeepers
players_team.sort_values(by=['overall_points'], ascending = False, inplace=True)
players_team[players_team['element_type_x']==1].head(2)

,id_x,element_type_x,goals_scored_x,assists_x,bonus_x,clean_sheets_x,saves_x,penalties_saved_x,dreamteam_count_x,form_x,ict_index_x,own_goals_x,goals_conceded_x,penalties_missed_x,red_cards_x,yellow_cards_x,points_per_game_x,minutes_x,now_cost_x,total_points_x,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count_y,element_type_y,ep_next,ep_this,event_points,first_name,form_y,in_dreamteam,news,news_added,now_cost_y,photo,points_per_game_y,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points_y,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes_y,goals_scored_y,assists_y,clean_sheets_y,goals_conceded_y,own_goals_y,penalties_saved_y,penalties_missed_y,yellow_cards_y,red_cards_y,saves_y,bonus_y,bps,influence,creativity,threat,ict_index_y,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,id_y,name,short_name,overall_points
386,307,1,0,0,1,4,7,0,0,3.2,8.1,0,6,0,0,0,4.1,630,55,29,NaN,NaN,121160,0,0,0,0,0,1,4.2,4.2,6,Ederson,3.2,False,,None,55,121160.jpg,4.1,Santana de Moraes,16.4,False,None,a,13,43,29,660379,8546,746630,17612,0.6,5.3,Ederson,630,0,0,4,6,0,0,0,0,0,7,1,133,80.6,0.0,0.0,8.1,165,20,622,64,620,64,273,20,NaN,,NaN,,NaN,,13,Man City,MCI,192.059701
604,478,1,0,0,3,3,21,1,1,4.0,18.4,0,7,0,0,0,5.3,630,50,37,NaN,NaN,149065,0,0,0,0,1,1,4.0,3.0,2,José,4.0,False,,None,50,149065.jpg,5.3,Malheiro de Sá,5.6,False,None,a,20,39,37,315458,8959,211529,5361,0.8,7.4,Sá,630,0,0,3,7,0,1,0,0,0,21,3,159,184.2,0.0,0.0,18.4,21,6,595,60,590,60,156,6,NaN,,NaN,,NaN,,20,Wolves,WOL,189.059701

In [52]:
#selecting Defenders
players_team.sort_values(by=['overall_points'], ascending = False, inplace=True)
players_team[players_team['element_type_x']==2].head(5)

,id_x,element_type_x,goals_scored_x,assists_x,bonus_x,clean_sheets_x,saves_x,penalties_saved_x,dreamteam_count_x,form_x,ict_index_x,own_goals_x,goals_conceded_x,penalties_missed_x,red_cards_x,yellow_cards_x,points_per_game_x,minutes_x,now_cost_x,total_points_x,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count_y,element_type_y,ep_next,ep_this,event_points,first_name,form_y,in_dreamteam,news,news_added,now_cost_y,photo,points_per_game_y,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points_y,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes_y,goals_scored_y,assists_y,clean_sheets_y,goals_conceded_y,own_goals_y,penalties_saved_y,penalties_missed_y,yellow_cards_y,red_cards_y,saves_y,bonus_y,bps,influence,creativity,threat,ict_index_y,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,id_y,name,short_name,overall_points
23,26,2,2,1,9,3,0,0,2,7.4,26.9,1,7,0,0,2,6.3,630,48,44,NaN,NaN,462424,0,0,3,-3,2,2,7.4,7.9,15,William,7.4,True,,None,48,462424.jpg,6.3,Saliba,22.4,False,None,a,1,3,44,2185042,65701,518386,15669,1.5,9.2,Saliba,630,2,1,3,7,1,0,0,2,0,0,9,169,186.4,25.8,58.0,26.9,20,4,212,60,137,24,89,20,NaN,,NaN,,NaN,,1,Arsenal,ARS,194.059701
448,357,2,1,1,4,3,0,0,0,4.2,45.3,0,7,0,0,2,5.0,630,53,35,100.0,100.0,77794,0,0,3,-3,0,2,4.2,4.7,5,Kieran,4.2,True,,2022-08-30T14:30:06.751009Z,53,77794.jpg,5.0,Trippier,44.2,False,None,a,15,4,35,3278650,86007,890904,7634,0.8,6.6,Trippier,630,1,1,3,7,0,0,0,2,0,0,4,161,163.2,247.9,41.0,45.3,33,8,4,1,173,37,30,1,1.0,,1.0,,NaN,,15,Newcastle,NEW,193.059701
546,430,2,2,0,1,2,0,0,0,4.8,28.0,0,7,0,0,0,4.7,630,50,33,NaN,NaN,93264,0,0,0,0,0,2,4.8,5.3,7,Eric,4.8,False,,None,50,93264.jpg,4.7,Dier,6.5,False,None,a,18,6,33,460972,40140,234861,5871,1.0,6.6,Dier,630,2,0,2,7,0,0,0,0,0,0,1,142,177.8,3.3,99.0,28.0,24,5,313,109,79,8,81,15,NaN,,2.0,,NaN,,18,Spurs,TOT,192.059701
14,16,2,1,0,3,3,0,0,0,5.0,29.8,0,7,0,0,0,4.7,630,51,33,NaN,NaN,226597,0,0,1,-1,0,2,5.0,5.5,6,Gabriel,5.0,False,,None,51,226597.jpg,4.7,dos Santos Magalhães,11.1,False,None,a,1,3,33,653047,10047,445761,14074,1.0,6.5,Gabriel,630,1,0,3,7,0,0,0,0,0,0,3,150,151.0,19.9,127.0,29.8,45,10,230,68,51,3,70,12,NaN,,NaN,,NaN,,1,Arsenal,ARS,191.059701
609,484,2,0,0,4,3,0,0,1,4.0,16.1,0,7,0,0,0,4.0,630,45,28,100.0,100.0,214048,0,0,0,0,1,2,4.0,3.0,1,Max,4.0,False,,2022-07-05T15:30:04.265873Z,45,214048.jpg,4.0,Kilman,1.6,False,None,a,20,39,28,121855,10090,59754,2557,0.9,6.2,Kilman,630,0,0,3,7,0,0,0,0,0,0,4,137,141.8,7.0,12.0,16.1,56,12,291,98,258,79,180,51,NaN,,NaN,,NaN,,20,Wolves,WOL,186.059701

In [53]:
#selecting midfielders
players_team.sort_values(by=['overall_points'], ascending = False, inplace=True)
players_team[players_team['element_type_x']==3].head(5)

,id_x,element_type_x,goals_scored_x,assists_x,bonus_x,clean_sheets_x,saves_x,penalties_saved_x,dreamteam_count_x,form_x,ict_index_x,own_goals_x,goals_conceded_x,penalties_missed_x,red_cards_x,yellow_cards_x,points_per_game_x,minutes_x,now_cost_x,total_points_x,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count_y,element_type_y,ep_next,ep_this,event_points,first_name,form_y,in_dreamteam,news,news_added,now_cost_y,photo,points_per_game_y,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points_y,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes_y,goals_scored_y,assists_y,clean_sheets_y,goals_conceded_y,own_goals_y,penalties_saved_y,penalties_missed_y,yellow_cards_y,red_cards_y,saves_y,bonus_y,bps,influence,creativity,threat,ict_index_y,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,id_y,name,short_name,overall_points
11,13,3,1,5,1,3,0,0,0,5.8,61.2,0,7,0,0,1,5.3,617,78,37,NaN,NaN,223340,0,0,-2,2,0,3,5.8,6.3,9,Bukayo,5.8,False,,None,78,223340.jpg,5.3,Saka,11.3,False,None,a,1,3,37,416850,12314,1378867,13684,0.7,4.7,Saka,617,1,5,3,7,0,0,0,1,0,0,1,126,157.0,209.8,246.0,61.2,41,20,9,7,12,7,9,5,2.0,,NaN,,1.0,,1,Arsenal,ARS,206.179104
1,3,3,1,3,2,3,0,0,1,3.4,43.9,0,7,0,0,2,4.4,627,50,31,NaN,NaN,84450,0,0,0,0,1,3,3.4,3.9,5,Granit,3.4,False,,None,50,84450.jpg,4.4,Xhaka,2.9,False,None,a,1,3,31,364622,5610,205991,4927,0.7,6.2,Xhaka,627,1,3,3,7,0,0,0,2,0,0,2,137,158.2,175.6,105.0,43.9,36,16,16,13,68,44,33,25,NaN,,3.0,,NaN,,1,Arsenal,ARS,200.164179
17,19,3,3,1,4,3,0,0,1,4.6,72.7,0,7,0,0,0,5.6,601,66,39,NaN,NaN,444145,1,-1,6,-6,1,3,4.6,5.1,3,Gabriel,4.6,False,,None,66,444145.jpg,5.6,Martinelli Silva,47.8,False,None,a,1,3,39,3298573,26664,803976,31808,0.7,5.9,Martinelli,601,3,1,3,7,0,0,0,0,0,0,4,133,176.2,220.7,330.0,72.7,25,8,7,5,5,1,6,2,1.0,,2.0,,2.0,,1,Arsenal,ARS,196.402985
549,433,3,2,1,5,2,0,0,1,4.2,40.3,0,7,0,0,1,4.7,630,55,33,100.0,100.0,132015,0,0,0,0,1,3,4.2,4.7,5,Pierre-Emile,4.2,False,,2022-09-02T23:30:07.169513Z,55,132015.jpg,4.7,Højbjerg,2.8,False,None,a,18,6,33,287317,11495,142890,5161,0.8,6.0,Højbjerg,630,2,1,2,7,0,0,0,1,0,0,5,159,226.6,128.1,49.0,40.3,8,2,43,31,156,90,37,27,NaN,,NaN,,NaN,,18,Spurs,TOT,195.059701
226,186,3,0,2,0,2,0,0,0,3.4,34.4,0,6,0,0,1,3.0,630,55,21,NaN,NaN,153133,0,0,0,0,0,3,3.4,3.4,6,Alex,3.4,False,,None,55,153133.jpg,3.0,Iwobi,0.3,False,None,a,8,11,21,18696,754,18976,355,0.6,3.8,Iwobi,630,0,2,2,6,0,0,0,1,0,0,0,108,141.8,171.6,31.0,34.4,57,28,19,15,209,111,53,40,NaN,,NaN,,NaN,,8,Everton,EVE,191.059701

In [54]:
#selecting Forwards
players_team.sort_values(by=['overall_points'], ascending = False, inplace=True)
players_team[players_team['element_type_x']==4].head(3)

,id_x,element_type_x,goals_scored_x,assists_x,bonus_x,clean_sheets_x,saves_x,penalties_saved_x,dreamteam_count_x,form_x,ict_index_x,own_goals_x,goals_conceded_x,penalties_missed_x,red_cards_x,yellow_cards_x,points_per_game_x,minutes_x,now_cost_x,total_points_x,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count_y,element_type_y,ep_next,ep_this,event_points,first_name,form_y,in_dreamteam,news,news_added,now_cost_y,photo,points_per_game_y,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points_y,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes_y,goals_scored_y,assists_y,clean_sheets_y,goals_conceded_y,own_goals_y,penalties_saved_y,penalties_missed_y,yellow_cards_y,red_cards_y,saves_y,bonus_y,bps,influence,creativity,threat,ict_index_y,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,id_y,name,short_name,overall_points
396,318,4,11,1,12,4,0,0,3,11.0,90.1,0,6,0,0,0,10.4,571,120,73,NaN,NaN,223094,0,0,5,-5,3,4,12.0,12.0,6,Erling,11.0,True,,None,120,223094.jpg,10.4,Haaland,80.7,False,None,a,13,43,73,3670137,36005,400277,3191,0.9,6.1,Haaland,571,11,1,4,6,0,0,0,0,0,0,12,307,387.4,50.3,463.0,90.1,1,1,139,16,2,2,2,2,NaN,,NaN,,1.0,,13,Man City,MCI,233.447761
543,427,4,6,2,10,3,0,0,1,8.0,91.7,0,6,1,0,2,7.1,617,114,50,NaN,NaN,78830,0,0,-1,1,1,4,8.0,8.5,10,Harry,8.0,True,,None,114,78830.jpg,7.1,Kane,19.0,False,None,a,18,6,50,1097375,34552,1776158,21481,0.7,4.4,Kane,617,6,2,3,6,0,0,1,2,0,0,10,200,295.2,193.5,428.0,91.7,2,2,13,1,3,3,1,1,NaN,,1.0,,1.0,,18,Spurs,TOT,216.179104
25,28,4,4,3,4,3,0,0,1,3.6,85.9,0,7,0,0,4,5.6,610,81,39,NaN,NaN,205651,0,0,1,-1,1,4,3.6,4.1,6,Gabriel,3.6,False,,None,81,205651.jpg,5.6,Fernando de Jesus,72.7,False,None,a,1,3,39,1610942,15200,1590027,87742,0.4,4.8,Jesus,610,4,3,3,7,0,0,0,4,0,0,4,141,232.2,159.1,467.0,85.9,5,4,28,2,1,1,3,3,NaN,,NaN,,NaN,,1,Arsenal,ARS,208.089552

In [45]:
seletced = [31, 422, 209, 215, 409, 201, 33, 104, 283, 116, 407, 211, 318, 210, 427]